{
	"prefix": "",
	"botID": "",
	"embedfooterText": "",
	"LogGuildId": "",
	"CommandLogChannelId": "",
	"ErrorLogChannelId": "",
	"ReportLogChannelId": "",
	"GuildLogChannelId": "",
	"ReportFormLogChannelId": ""
}